@import '../../utils/variables.scss';

@mixin absolute-position-full-height {
  position: absolute;
  top: 0;
  height: 100vh;
  @supports (height: max(100%, 100vh)) {
    height: max(100%, 100vh);
  }
}
.overlay {
  @include absolute-position-full-height;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  isolation: isolate;
  z-index: 100;
}
.cart {
  min-width: 305px;
  $spacing: 16px;

  @include absolute-position-full-height;
  right: 0;
  background-color: $color-primary;
  color: $color-secondary;
  padding: 0 $spacing;

  &__header,
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-light-gray;
    margin: 0 (-$spacing);
    padding: calc($spacing / 2);
  }

  &__main {
    padding: $spacing 0;
  }

  &__total,
  &__empty {
    font-size: $font-size-xlg;
  }
}
.item {
  $spacing: 8px;

  display: flex;
  gap: $spacing;

  &:not(:last-of-type) {
    margin-bottom: $spacing;
    padding-bottom: $spacing;
    border-bottom: 1px solid $color-light-gray;
  }

  &__image {
    width: 100px;
    aspect-ratio: 1 / 1;
  }

  &__name {
    font-size: $font-size-md;
  }

  &__ordered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $spacing;

    &-price {
      font-size: $font-size-lg;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: $spacing;
  }
}
