@mixin absolute-position-full-height {
  position: absolute;
  top: 0;
  height: 100vh;
  @supports (height: max(100%, 100vh)) {
    height: max(100%, 100vh);
  }
}
.overlay {
  @include absolute-position-full-height;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  isolation: isolate;
  z-index: 100;
}
.cart {
  @include absolute-position-full-height;
  right: 0;
  background-color: #fff;
  color: #333;
  padding: 0 16px;
  cursor: default;

  &__header,
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d3d3d3;
    margin: 0 -16px;
    padding: 8px;
  }

  &__main {
    padding: 16px 0;
  }

  &__total,
  &__empty {
    font-size: 24px;
  }
}
.item {
  display: flex;
  gap: 8px;

  &:not(:last-of-type) {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #d3d3d3;
  }

  &__image {
    width: 100px;
    aspect-ratio: 1 / 1;
  }

  &__name {
    font-size: 16px;
  }

  &__ordered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    &-price {
      font-size: 1.2rem;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
