.filter__options {
  display: inline-flex;
  gap: 5px;
}
.filter__option {
  width: 75px;
  height: 30px;
  border: none;

  background: #ffffff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px 0px 0px 4px;

  font-size: 12px;
  text-align: center;

  cursor: pointer;
}
.filter__label {
  margin-right: 35px;
}
