@import '../../utils/variables.scss';

.form-group {
  position: relative;

  &__label {
    display: block;
    line-height: 1.5;
    font-weight: 700;
  }

  &__input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: $padding-sm;
    border: 1px solid $color-light-gray;
    border-radius: 4px;
  }

  &__error-message {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(120%);
    color: red;
    font-size: $font-size-sm;
  }
}
