@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.about {
  &-components {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 80px;
    margin-top: $margin-top-lg;
    padding: 0 $padding-xl;
    text-align: center;

    @include respond(tablet) {
      padding: 0;
      gap: $gap-md;
    }

    @include respond(mobile) {
      justify-content: center;
      grid-template-columns: 1fr;
    }

    &__text {
      margin-top: $margin-top-md;
    }
  }

  &_us {
    text-align: center;

    &__text {
      @include respond(tablet) {
        padding: 0;
      }
    }
  }

  &-it {
    padding: 0;
    gap: $gap-lg;
    &__wrapper {
      text-align: left;
      margin-top: $margin-top-md;
      font-size: $font-size-sm;
    }
    &__text {
      margin: $margin-top-md 0;
      line-height: 1.5;
    }
    &__price {
      display: flex;
      align-items: center;
      gap: $gap-sm;

      &-value {
        font-size: $font-size-xlg;
      }
    }
    &__incart {
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 100%;
      font-size: 0.6rem;
    }

    &__button-wrapper {
      text-align: center;
      position: relative;
    }
  }

  &__divider {
    width: 240px;
    height: 1px;
    background-color: $color-secondary;
    @include margin-auto;
  }
}
