@import '../../utils/variables.scss';

.products {
  margin-top: $margin-top-lg;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: $gap-lg;
  text-align: right;

  &__item {
    display: flex;
    flex-direction: column;
    gap: $gap-sm;
    box-sizing: border-box;
    color: $color-secondary;
    width: 220px;
    padding: $padding-md;
    border-radius: 8px;
    font-size: $font-size-sm;
  }

  &__best {
    background: rgba(255, 255, 255, 0.65);
  }

  &__search {
    padding-top: $padding-xl;
    background-color: $color-primary;
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
  }

  &__price {
    font-weight: 700;
  }

  &__our-best {
    text-align: center;
    background-position: top center;
    background-repeat: repeat-y;
    background-size: cover;
    background-image: image-set(
      '../../../public/resources/bgs/webp/Bg_Best.webp' type('image/webp'),
      '../../../public/resources/bgs/Bg_Best.jpg' type('image/jpeg')
    );
  }

  &-page {
    min-height: 800px;
  }
}
