@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.paragraph {
  font-size: $font-size-sm;
  line-height: 1.5;

  &__about {
    padding-left: $padding-xxl;
    padding-right: $padding-xxl;
  }

  @include respond(tablet) {
    padding-left: revert;
    padding-right: revert;
  }
}
