.button {
  &-fill {
    background-color: #333;
    color: #fff;
    border: none;
    transition: all 0.5s;

    &:hover {
      cursor: pointer;
      background-color: #555;
    }

    &:active {
      box-shadow: inset -1px -1px 3px #fff;
      border: none;
    }
  }

  &-outline {
    color: #333;
    border: 1px solid #ccc;
    background-color: transparent;
    transition: all 0.5s;

    &:hover {
      cursor: pointer;
      background-color: #eee;
      border: 1px solid #ccc;
      box-shadow: inset 0px 0px 24px 0px rgba(184, 184, 184, 1);
    }

    &:active {
      box-shadow: inset -1px -1px 3px #333;
    }

    &-more {
      border-color: #fff;
      color: #fff;

      &:hover {
        color: #333;
      }

      &:active {
        border: none;
      }
    }
  }

  &-lg {
    padding: 12px 30px;
    border-radius: 3px;
  }

  &-sm {
    padding: 4px 8px;
    border-radius: 2px;
  }
}
