@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.filter {
  &__options {
    display: inline-flex;
    gap: 5px;
  }
  &__option {
    width: 75px;
    height: 30px;
    border: none;
    background: #ffffff;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px 0px 0px 4px;
    font-size: $font-size-xsm;
    text-align: center;
    cursor: pointer;
  }
  &__label {
    margin-right: 30px;

    @include respond(mobile) {
      display: none;
    }
  }
  &_active {
    background: #eaddca;
  }
}
