@import '../../utils/variables.scss';

.modal {
  isolation: isolate;

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  &-content {
    background: $color-primary;
    padding: $padding-md;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
  }

  &-close {
    position: absolute;
    top: -6px;
    right: 0;
  }

  &-title {
    padding-left: $padding-md;
    padding-right: $padding-md;
    font-size: $font-size-xlg;
    word-break: break-word;
  }

  &-message {
    margin-top: $margin-top-md;
    display: block;
    font-size: $font-size-md;
    color: $color-secondary;
  }

  &-success {
    border-top: 5px solid $color-success;
  }

  &-danger {
    border-top: 5px solid $color-danger;
  }

  &-info {
    border-top: 5px solid $color-info;
  }
}
