@import '../../utils/variables.scss';

.checkout {
  max-width: 500px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;

  &__form {
    margin-top: 40px;
  }

  &__summary {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ddd;
  }

  &__required {
    font-size: $font-size-sm;
  }

  &__total {
    font-size: $font-size-xlg;
  }

  &__items {
    width: fit-content;
  }

  &__item:not(:first-of-type) {
    margin-top: 2px;
    padding-top: 2px;
    border-top: 1px solid #ddd;
  }
}
