@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.checkout {
  max-width: 500px;
  margin-top: $margin-top-lg;
  @include margin-auto;
  padding: $padding-md;
  border: 1px solid $color-light-gray;
  border-radius: 8px;
  background: $color-gray-lightnent;

  &__form {
    display: flex;
    flex-direction: column;
    gap: $gap-md;
    margin-top: $margin-top-lg;
  }

  &__summary {
    display: flex;
    flex-direction: column;
    gap: $gap-md;
    padding-top: $padding-md;
    padding-bottom: $padding-md;
    border-top: 1px solid $color-light-gray;
  }

  &__required {
    font-size: $font-size-sm;
  }

  &__total {
    font-size: $font-size-xlg;
  }

  &__items {
    width: fit-content;
  }

  &__item:not(:first-of-type) {
    margin-top: 2px;
    padding-top: 2px;
    border-top: 1px solid $color-light-gray;
  }
}
