@import '../../utils/variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 150px 0;
}

@media only screen and (max-width: $sm) {
  .header {
    padding: 15px;
  }
}
