@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: $padding-sm;
  padding-bottom: $padding-sm;
}
