@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: $padding-sm;
  padding-bottom: $padding-sm;

  @include respond(mobile) {
    justify-content: space-between;
  }
}
