.mt4 {
  margin-top: 40px;
}

.mt3 {
  margin-top: 30px;
}

.mt2 {
  margin-top: 20px;
}

.mcenter {
  margin-left: auto;
  margin-right: auto;
}

.ph10 {
  padding-left: 100px;
  padding-right: 100px;
}

.pv2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
