@import '../../variables.scss';

@media only screen and (max-width: $md) {
  .search-filter__wrapper {
    flex-direction: column;
    gap: 40px;
  }
}
@media only screen and (max-width: $xsm) {
  .search span {
    display: none;
  }
}
