@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.search {
  display: flex;
  align-items: baseline;
  gap: $gap-sm;

  &-filter__label {
    font-size: $font-size-sm;
    color: $color-secondary;
  }
  &__label {
    @include respond(mobile) {
      display: none;
    }
  }
  &__input {
    width: 180px;
    height: 30px;
    border: none;

    padding: 0 $padding-xsm;

    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }
  &__input::placeholder {
    font-size: $font-size-xsm;
    text-align: center;
  }
  &-filter__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: $margin-top-lg;

    @include respond(tablet) {
      flex-direction: column;
      gap: $gap-lg;
    }
  }
}
