@import '../../utils/variables.scss';

.search {
  &-filter__label {
    font-size: $font-size-sm;
    color: #000;
  }
  &__label {
    margin-right: 10px;
  }
  &__input {
    width: 180px;
    height: 30px;
    border: none;

    padding: 0 5px;

    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }
  &__input::placeholder {
    font-size: $font-size-xsm;
    text-align: center;
  }
  &-filter__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 60px auto 0;
    align-items: center;
  }
}

@media only screen and (max-width: $md) {
  .search {
    &-filter__wrapper {
      flex-direction: column;
      gap: 40px;
    }
  }
}
@media only screen and (max-width: $xsm) {
  .search {
    &__label {
      display: none;
    }
  }
}
