@import '../../utils/variables.scss';

.shopping {
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &__icon {
    width: 32px;
    height: 32px;

    &-white {
      fill: $color-primary;
    }
    &-black {
      fill: $color-secondary;
    }
  }
  &__count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    /*Optical alignment*/
    padding: 0 1px 1px 2px;
  }
}
