@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.nav {
  &__list {
    display: flex;
    align-items: flex-end;
    gap: $gap-lg;

    @include respond(mobile) {
      justify-content: center;
    }
  }

  &__link {
    font-size: $font-size-xsm;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &-white {
      color: $color-primary;
    }
    &-black {
      color: $color-secondary;
    }
  }
}
